### LOREAL Datathon by Calvin Chong

#### All participants are given 6 files of data, 5 of which are comments1, comments2, comments3, etc. Each file has around 70k rows of data, each containing information about a particular comment left on a youtube video. 
#### The last file is the videos data, containing information about the video.

Rough outline of what to do. First will definitely be combining the datasets together. 

1. Decode weird symbols (probably emojis)
2. Translate non-english comments
3. Perform EDA

In [3]:
import pandas as pd
import numpy as np

In [7]:
df = pd.read_csv("dataset/comments1.csv")

df2 = pd.read_csv("dataset/comments2.csv")
df3 = pd.read_csv("dataset/comments3.csv")
df4 = pd.read_csv("dataset/comments4.csv")
df5 = pd.read_csv("dataset/comments5.csv")

In [8]:
df = pd.concat([df,df2,df3,df4,df5],axis = 0)

In [9]:
df.head()

,kind,commentId,channelId,videoId,authorId,textOriginal,parentCommentId,likeCount,publishedAt,updatedAt
0,youtube#comment,1781382,14492,74288,2032536,PLEASE LESBIAN FLAG I BEG YOU \n\nYou would ro...,NaN,0,2023-08-15 21:48:52+00:00,2023-08-15 21:48:52+00:00
1,youtube#comment,289571,14727,79618,3043229,Apply mashed potato juice and mixed it with curd,3198066.0,0,2023-10-02 13:08:22+00:00,2023-10-02 13:08:22+00:00
2,youtube#comment,569077,3314,51826,917006,69 missed calls from marsðŸ‘½,NaN,0,2024-05-31 12:03:12+00:00,2024-05-31 12:03:12+00:00
3,youtube#comment,2957962,5008,58298,1853470,Baaa,NaN,0,2024-02-13 15:48:37+00:00,2024-02-13 15:48:37+00:00
4,youtube#comment,673093,21411,1265,2584166,you look like raven from phenomena raven no cap,NaN,0,2020-02-15 22:28:44+00:00,2020-02-15 22:28:44+00:00

In [10]:
df.shape

(4725012, 10)

In [11]:
df.to_csv("dataset/merged_comments.csv")